<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>一个超简陋的购物平台</title>
    <style>
        div {

            border-radius: 20px;
            height: 500px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: #F8F8F8;
            width: 800px;
            border: 25px #E0E0E0;
            padding: 25px;
        }

    </style>
</head>

<body>
<a href="./homepage.html">个人中心</a>

<div data-spy="scroll" id="messages" data-target="#myScrollspy" data-offset="0"
     style="border-radius: 20px;height: 500px;margin: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: #F8F8F8;width: 800px;border: 25px #E0E0E0;padding: 25px;">
    <br>
    <h3>商城</h3>
    <select id="display">
        <option name="display" value="Default">默认显示</option>
        <option name="display" value="Hits">按热度显示</option>
    </select>
    <select id="location">
        <option name="location" value="全部地域">全部地域</option>
        <option name="location" value="韵苑">韵苑</option>
        <option name="location" value="紫菘">紫菘</option>
        <option name="location" value="沁苑">沁苑</option>
        <option name="location" value="其他">其他</option>
    </select>
    <select id="category">
        <option name="category" value="全部分类">全部分类</option>
        <option name="category" value="电子设备">电子设备</option>
        <option name="category" value="书籍资料">书籍资料</option>
        <option name="category" value="宿舍百货">宿舍百货</option>
        <option name="category" value="护肤美妆">护肤美妆</option>
        <option name="category" value="女装">女装</option>
        <option name="category" value="男装">男装</option>
        <option name="category" value="鞋帽配饰">宿舍百货</option>
        <option name="category" value="门票卡券">宿舍百货</option>
        <option name="category" value="其他">其他</option>
    </select>
<div>

</div>
</div>
<script src="./func.js">
    window.onload = page;
</script>
</body>
</html>





